<!doctype html>
<html lang="pt-br">

<head>
    <title>Sistema de Gerenciamento de Vendas</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>

    <div id="app">
        <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
            <div class="bg-dark p-4">
                <h5 class="text-body-emphasis h4">Sistema de Gerenciamento de Vendas</h5>
                <div class="d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-between">
                        <button @click="actionCadastraCliente" class="btn btn-primary btn-sm w-25 mb-3"
                            id="cadCliente">Cadastrar Cliente</button>
                            <button class="btn btn-primary btn-sm w-25 mb-3">VISUALIZAR</button>
                    </div>
                    <button @click="actionCadastraProdutos" class="btn btn-primary btn-sm w-25 mb-3"
                        id="cadProduto">Cadastrar Produto</button>
                    <button @click="actionCadastraVendas" class="btn btn-primary btn-sm w-25 mb-3"
                        id="cadVendas">Cadastrar Vendas</button>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <main style="padding: 20px;">
            <div v-if="carregaFormulario">
                <form class="row g-3" @submit.prevent="enviarFormulario">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" v-model="Vemail" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputNome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="inputNome" v-model="Vnome" required>
                    </div>
                    <div class="col-12">
                        <label for="inputRua" class="form-label">Rua</label>
                        <input type="text" class="form-control" id="inputRua" placeholder="1234 Main St" v-model="Vrua"
                            required>
                    </div>
                    <div class="col-12">
                        <label for="inputBairro" class="form-label">Bairro</label>
                        <input type="text" class="form-control" id="inputBairro" placeholder="São João, 75 ..."
                            v-model="Vbairro" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputCidade" class="form-label">Cidade</label>
                        <input type="text" class="form-control" id="inputCidade" v-model="Vcidade" required>
                    </div>
                    <div class="col-md-4">
                        <label for="inputEstado" class="form-label">Estado</label>
                        <select id="inputEstado" class="form-select" v-model="Vestados" required>
                            <option disabled value="">Escolha um estado...</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
            </div>

            <div v-if="carregaFormularioProduto">
                <form class="row g-3" @submit.prevent="enviarFormularioProduto">
                    <div class="col-md-6">
                        <label for="inputNome" class="form-label">Nome Produto:</label>
                        <input type="text" class="form-control" id="inputNome" v-model="VnomeProduto" required>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Descrição" id="descricaoId" v-model="Vdescricao"
                            style="height: 100px; width: 50%;"></textarea>
                        <label for="floatingTextarea">Descrição</label>
                    </div>
                    <div class="col-4">
                        <label for="inputPreco" class="form-label">Preço</label>
                        <input type="number" class="form-control" id="inputPreco" v-model="Vpreco" required>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
            </div>

            <div v-if="carregaFormularioVendas">
                <h2>Cadastro de Vendas</h2>
                <form @submit.prevent="enviarFormularioVendas">
                    <div class="mb-3">
                        <label for="cliente" class="form-label">Cliente:</label>
                        <select id="produto" class="form-select" v-model="Vcliente" required>
                            <option disabled value="">Selecione o produto...</option>
                            <option v-for="(item, index) in Clientes" :key="index" :value="item">
                                {{item.nome}}/{{item.email}}</option>
                        </select>
                        <!-- <input type="text" class="form-control" id="cliente" v-model="Vcliente" required> -->
                    </div>
                    <div class="mb-3">
                        <label for="produto" class="form-label">Produto:</label>
                        <select id="produto" class="form-select" v-model="VprodutoSelecionado" required>
                            <option disabled value="">Selecione o produto...</option>
                            <option v-for="(item, index) in Produtos" :key="index" :value="item">{{item.nome}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="quantidade" class="form-label">Quantidade:</label>
                        <input type="number" class="form-control" id="quantidade" v-model="Vquantidade" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar Venda</button>
                </form>
            </div>

            <div v-else>
                <div v-if="Clientes.length > 0">
                    <h1>Clientes</h1>
                    <ul>
                        <li v-for="(item, index) in Clientes" :key="index">
                            {{ item.email }}, {{ item.nome }}, {{ item.rua }}, {{ item.bairro }}, {{ item.cidade }}, {{
                            item.estado }}
                            <span style="margin-left: 10px;">
                                <button type="button" class="btn btn-warning">Editar</button>
                                <button type="button" class="btn btn-danger">Excluir</button>
                            </span>
                        </li>
                    </ul>
                </div>
                <div v-else>
                    <h1>Selecione...</h1>
                </div>
                <div v-if="Produtos.length > 0">
                    <h1>Produtos</h1>
                    <ul>
                        <li v-for="(item, index) in Produtos" :key="index">
                            {{item.nome}}, {{item.descricao}}, {{item.preco}}
                            <button type="button" class="btn btn-warning">Editar</button>
                            <button type="button" class="btn btn-danger">Excluir</button>
                        </li>
                    </ul>
                </div>
                <div v-if="Vendas.length > 0">
                    <h1>Vendas</h1>
                    <ul>
                        <li v-for="(item, index) in Vendas" :key="index">
                            {{item.nomeCli}}, {{item.produtoSelecionado}}, {{item.quantidade}}
                            <button type="button" class="btn btn-warning">Editar</button>
                            <button type="button" class="btn btn-danger">Excluir</button>
                        </li>
                    </ul>
                </div>
            </div>

        </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>